<%= stylesheet_link_tag "index_show" %>
<h2>Job Tracker</h2>

<div class="">
  <h6>Jobs by Interest</h6>
</div>

<div class="">
  <h6>Top Companies by Interest</h6>
</div>

<div class="">
  <h6>Jobs by location</h6>
</div>
