h3 {
  margin-left: 12px;
  font-family: Helvetica;
  font-size: 40px;
}

h2 {
  margin-left: 15px;
  margin-top: 40px;
  font-size: 20px;
  font-family: Helvetica;
}

h5 {
  margin-left: 15px;
  font-size: 16px;
  font-family: Helvetica;
  margin-bottom: -20px;
}

#add-company-label {
  margin-left: 15px;
  padding-bottom: 120px;
  font-family: Helvetica;
}

#add-job-label {
  margin-left: 15px;
  padding-bottom: 120px;
  font-family: Helvetica;
}

.company-list, .job-list {
  font-size: 16px;
  font-family: Helvetica;
  padding-right: 60px;
  padding-bottom: 15px;
  text-align: left;
  padding-top: 15px;
  padding-left: 10px;
}

.job-list-1 {
  font-size: 20px;
  font-family: Helvetica;
  font-weight: bold;
  padding-right: 60px;
  background-color: #4f4f4f;
  color: white;
  padding-top: 15px;
  padding-left: 10px;
}

.job-list-2 {
  font-size: 20px;
  font-family: Helvetica;
  font-weight: bold;
  background-color: #4f4f4f;
  color: white;
  padding-top: 15px;
  padding-left: 10px;
}

.job-list-3 {
  font-size: 16px;
  font-family: Helvetica;
  padding-bottom: 15px;
  text-align: center;
  padding-top: 15px;
  padding-left: 10px;
}

.job-list-4 {
  font-size: 16px;
  font-family: Helvetica;
  font-weight: bold;
  padding-right: 60px;
  background-color: #4f4f4f;
  color: white;
  padding-top: 15px;
  padding-left: 10px;
}

.job-list-5 {
  font-size: 22px;
  font-family: Helvetica;
  list-style-type: none;
  padding-left: 20px;
}

.job-list-6 {
  font-size: 16px;
  font-family: Helvetica;
  font-weight: bold;
  background-color: #4f4f4f;
  color: white;
  text-align: center;
  padding-top: 15px;
  padding-left: 15px;
}

.job-list-7 {
  font-size: 24px;
  font-family: Helvetica;
  font-weight: bold;
  padding-right: 60px;
  background-color: #4f4f4f;
  color: white;
  padding-top: 15px;
  padding-left: 10px;
}

.job-list-8 {
  font-size: 24px;
  font-family: Helvetica;
  font-weight: bold;
  background-color: #4f4f4f;
  color: white;
  text-align: center;
  padding-top: 15px;
  padding-left: 15px;
}

.all-jobs-list {
  margin-left: 0px;
  font-family: Helvetica;
}

tr:nth-child(even) {background-color: #f2f2f2;}

.job-list-1 a, .job-list-2 a {
  color: inherit;
  text-decoration: none;
}

.buttons-container-1 {
  margin-left: 15px;
  margin-top: 50px;
}

.contacts-1 {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 20px;
  font-family: Helvetica;
  font-weight: bold;
  padding-right: 60px;
  background-color: #4f4f4f;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
}

.job-show-page {
  margin-left: 0px;
}

.comments {
  padding-left: 15px;
  text-decoration: none;
}
